@import "tailwindcss";

/* theme vars */
:root { --bg:#ffffff; --fg:#0b0b0b; }
.dark { --bg:#0b0b0b; --fg:#ffffff; }

html, body, #__next { height: 100%; }
body {
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* nice scrollbars */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background:#2a2a2a; border-radius:999px; }
*::-webkit-scrollbar-track { background:transparent; }
